.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    color: #b5b6ba;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 400;

    span {
      font-size: 16px;
      font-weight: bold;
    }

    img {
      width: 5%;
      object-fit: contain;
      aspect-ratio: 3/2;
    }
  }
}
