.message {
  display: flex;
  justify-content: center;

  .container {
    width: 1200px;
    margin: 50px;

    .breadCrumbs {
      font-weight: 300;
      font-size: 13px;
      color: #555;
    }
    .messages {
      margin: 30px 0;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 300px;
      overflow: scroll;

      .item {
        display: flex;
        gap: 20px;
        max-width: 600px;
        font-size: 18px;

        &.owner {
          flex-direction: row-reverse;
          align-self: flex-end;

          p {
            max-width: 500px;
            border-radius: 20px 0px 20px 20px;
            background-color: rgb(117, 143, 223);
            color: white;
          }
        }

        p {
          padding: 20px;
          background-color: #e7e7e7;
          border-radius: 0 20px 20px 20px;
          font-weight: 300;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .write {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      textarea {
        width: 80%;
        height: 100px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        resize: none;

        
      }

      button {
        color: #fff;
        background-color: #1dbf73;
        font-weight: 500;
        font-size: 15px;
        padding: 15px 25px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #18985c;
        }
      }

      // ! Another style of button
      // button {
      //   display: inline-block;
      //   padding: 12px 24px;
      //   border: 1px solid #4f4f4f;
      //   border-radius: 4px;
      //   transition: all 0.2s ease-in;
      //   position: relative;
      //   overflow: hidden;
      //   font-size: 19px;
      //   color: black;
      //   z-index: 1;

      //   &:before {
      //     content: "";
      //     position: absolute;
      //     left: 50%;
      //     transform: translateX(-50%) scaleY(1) scaleX(1.25);
      //     top: 100%;
      //     width: 140%;
      //     height: 180%;
      //     background-color: rgba(0, 0, 0, 0.05);
      //     border-radius: 50%;
      //     display: block;
      //     transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      //     z-index: -1;
      //    }

      //    &:after {
      //     content: "";
      //     position: absolute;
      //     left: 55%;
      //     transform: translateX(-50%) scaleY(1) scaleX(1.45);
      //     top: 180%;
      //     width: 160%;
      //     height: 190%;
      //     background-color: #39bda7;
      //     border-radius: 50%;
      //     display: block;
      //     transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      //     z-index: -1;
      //    }

      //    &:hover {
      //     color: #ffffff;
      //     border: 1px solid #39bda7;
      //    }

      //    &:hover:before {
      //     top: -35%;
      //     background-color: #39bda7;
      //     transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      //    }

      //    &:hover:after {
      //     top: -45%;
      //     background-color: #39bda7;
      //     transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      //    }
      // }
    }
  }
}
