.gigs {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;

    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .breadcrumbs {
      font-weight: 300;
      font-size: 15px;
      color: #555;
    }
    p {
      color: #999;
      font-weight: 300;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #555;
        font-weight: 300;

        input {
          padding: 5px;
          border: 1px solid lightgray;
          border-radius: 2px;
          outline: none;

          &::placeholder {
            color: gray;
          }
        }
        button {
          background-color: #1dbf73;
          color: #fff;
          width: max-content;
          padding: 5px 10px;
          font-weight: 500;
          border: none;
          border-radius: 5px;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            background-color: #148a53;
            transition: all 0.2s ease-in-out;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        cursor: pointer;

        .sortBy {
          color: #767676;
          font-weight: 400;
        }

        .sortType {
          font-weight: 500;
        }

        img {
          width: 15px;
        }
      }

      .rightMenu {
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        border: .5px solid lightgray;
        position: absolute;
        top: 30px;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #555;

        span{

        }
      }

      
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
