.home {
  hr{
    border-top: 0.5px solid lightgray
  }
  .explore {
    display: flex;
    justify-content: center;

    .container {
      padding: 100px 0;
      width: 1400px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5rem;

      h2 {
        font-size: 32px;
      }

      img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        padding-bottom: 0.5rem;
        border-bottom: 0.1px solid #1dbf73;
      }

      .content {
        .item {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .top {
          display: flex;
          justify-content: space-between;
          padding: 0 0 55px 0;
        }

        .bottom {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.bg-dark {
      background-color: #0d084d;
      h1 {
        color: #fff !important;
      }

      h2 {
        color: #fff !important;
        margin-bottom: 20px !important;
      }

      p {
        color: #fff !important;
        margin-bottom: 20px !important;
      }

      .title {
        color: #fff !important;
        font-weight: 300 !important;
        font-size: 14px !important;
      }

      img {
        width: 900px;
      }

      button {
        background-color: #1dbf73;
        color: #fff;
        width: max-content;
        padding: 12px 24px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          background-color: #148a53;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .container {
      display: flex;
      align-items: center;
      width: 1400px;
      margin: 0px 16px;
      gap: 200px;

      .item-left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        line-height: 28px;
        letter-spacing: 1px;

        h1 {
          font-size: 32px;
          font-weight: 700;
          line-height: 1.25;

          color: #404145;
          margin-bottom: 24px;
        }
        p {
          font-size: 17px;
          color: gray;
        }
        .title {
          display: flex;
          align-items: center;
          padding-bottom: 8px;
          gap: 10px;
          font-weight: bold;
          font-size: 18px;
          color: #404145;

          img {
            height: 24px;
            width: 24px;
            fill: #74767e;
          }
        }
      }
    }
    .item-right {
      width: 700px;

      video {
        width: 700px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .get-started {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 1400px;
      height: 440px;
      border-radius: 5px;
      background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1400,dpr_1.0/v1/attachments/generic_asset/asset/50218c41d277f7d85feeaf3efb4549bd-1599072608122/bg-signup-1400-x1.png");

      .left {
        width: 650px;
        display: flex;

        flex-direction: column;
        gap: 40px;
        color: #fff;
        i {
          font-weight: 400;
        }
        button {
          background-color: #1dbf73;
          color: #fff;
          width: max-content;
          padding: 12px 24px;
          margin-top: 20px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: #148a53;
            transition: all 0.2s ease-in-out;
          }
        }
      }
      .right {
        background-color: #fff;
      }
    }
  }
}
