@import "/index.scss";

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #013914;
  color: #fff;
  transition: 0.5s all ease;
  position: sticky;
  z-index: 10000;
  top: 0;

  &.active {
    background-color: #fff;
    color: #62646a;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 1400px;

    padding: 1.5rem 0;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 2rem;
      .dot {
        color: #1dbf73;
      }
      .menu-icon {
        cursor: pointer;
        font-size: 20px;
        color: #fff;

        display: none;
        @include respond(tab-port) {
          display: block;
        }
      }
      input[type="checkbox"] {
        display: none;
      }
    }

    .links {
      @include respond(tab-port) {
        display: none;
      }
      .link {
        &:hover,
        &:active {
          color: #1dbf73;
          cursor: pointer;
          transition: all 0.1s linear;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        position: relative;

        img {
          object-fit: cover;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
        }

        .options {
          background-color: #fff;
          color: #62646a;
          font-weight: 400;
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 3.5rem;
          right: 0;
          width: 10rem;
          gap: 0.5rem;
          padding: 1rem;
          border: 1px solid lightgray;
          border-radius: 1rem;

          a {
            color: #62646a;
            text-decoration: none;

            &:hover,
            &:active {
              color: #1dbf73;
              cursor: pointer;
              transition: all 0.1s linear;
            }
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-weight: 500;

        span {
          &:hover,
          &:active {
            color: #1dbf73;
            cursor: pointer;
            transition: all 0.1s linear;
          }
        }

        button {
          color: #fff;
          background-color: transparent;
          font-weight: 500;
          font-size: 15px;
          padding: 10px 20px;
          border-radius: 5px;
          transition: all 0.2s linear;
          border: 1px solid white;
          cursor: pointer;

          &:hover {
            background-color: #1dbf73;
            border-color: #1dbf73;
          }
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid rgb(234, 232, 232);
  }
  .menu {
    padding: 1rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-weight: 300;
    color: gray;
    .link {
      &:hover {
        color: #1dbf73;
        
      }
    }
  }
}
