.video {
  background-color: #f1fdf7;
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 100px 0;
    .left {
      h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
        color: #404145;
        margin-bottom: 24px;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .content_title {
          .title {
            display: flex;
            gap: 15px;
            img {
              height: 24px;
              width: 24px;
            }
          }

          h3 {
            display: flex;
            align-items: center;
            padding-bottom: 8px;
            gap: 10px;
            font-weight: bold;
            font-size: 18px;
            color: #404145;
          }
          p {
            font-size: 17px;
            color: gray;
          }
        }
      }
    }
    .right {
      
      video {
        width: 700px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
