.footer {
  display: flex;
  justify-content: center;
  color: #999;
  margin: 50px 0px;
  img {
    width: 24px;
    height: 24px;
  }
  .container {
    width: 1400px;

    .top-part {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color: #666;
        }
        span {
          font-weight: 300;
          &:hover{
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    hr {
      margin: 50px 0;
      height: 0;
      border: 1px solid rgb(235, 233, 233);
    }

    .bottom-part {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;

        gap: 50px;

        span {
          font-size: 13px;
        }
      }
      .right {
        img {
          cursor: pointer;
        }
        .social {
          display: flex;
          align-items: center;
          gap: 25px;
        }
        .link {
          display: flex;
          align-items: center;
          gap: 10px;

          &:hover {
          }
          span {
          }
        }
      }
    }
  }
}
